<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="dd dd-draghandle darker">
            <div class="row">
                <div class="col-xs-8">
                    <ui-select ng-model="filterOptions.questionType" theme="select2" style="width: 200px;">
                        <ui-select-match placeholder="筛选试题类型">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="questionType.key as questionType in questionTypes| filter:$select.search">
                            <div ng-bind-html="questionType.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model="filterOptions.libraryId" theme="select2" ng-disabled="disabled" style="width: 200px;">
                        <ui-select-match placeholder="筛选题库">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="library.id as library in librarys| filter:$select.search">
                            <div ng-bind-html="library.name| highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-xs-4">
                    <span class="input-icon icon-right">
                        <input type="text" class="form-control input-sm" ng-model="filterOptions.filterText">
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                </div>
            </div>
            <div ng-grid="gridOptions" style="min-height: 500px; overflow-x: hidden;"></div>
        </div>
    </div>
</div>