<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="dd dd-draghandle darker">
            <ol class="dd-list" ng-include="'subjectUnitView'"></ol>
        </div>
    </div>
    @*<div class="modal-footer">
            <button type="button" ng-click="save()" ng-disabled="formAdd.$invalid" class="btn btn-default">提交</button>
            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>*@
</div>
<script id="subjectUnitView" type="text/ng-template">
    <li class="dd-item dd2-item" ng-repeat="subjectUnit in subjectUnits">
        <div class="dd-handle dd2-handle">
            <i class="normal-icon typcn typcn-th-menu"></i>
            <i class="drag-icon fa fa-arrows-alt "></i>
        </div>
        <a class="btn dd2-content" ng-click="selectSubjectUnit(subjectUnit)">
            {{subjectUnit.displayName}}
            @*<div class="dd2-content">
                    <a class="btn btn-info btn-xs edit margin-left-10 pull-right" ng-click="editSubjectUnit(subjectUnit)">编辑</a>

                </div>*@
        </a>
        <ol class="dd-list" style="" ng-if="subjectUnit.children.length" ng-include="'subjectUnitView'" ng-init="subjectUnits=subjectUnit.children"></ol>
    </li>
</script>