<div class="row">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="tab-pane active" id="info-tab">
                <form name="formAdd" role="form" novalidate class="row form-horizontal bv-form modal-body">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.displayName.$invalid && !formAdd.displayName.$pristine }">
                            <label>科目</label>
                            <input type="text" placeholder="请您选择科目" name="displayName" ng-model="examSubjectUnit.subjectUnit.displayName" ng-click="selectSubjectUnit()" class="form-control" required>
                            <p ng-show="formAdd.displayName.$invalid && !formAdd.displayName.$pristine" class="help-block">请填写考试名称</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.weight.$invalid && !formAdd.weight.$pristine }">
                            <label>权重</label>
                            <input type="text" number-mask placeholder="请您输入权重：10" name="weight" ng-model="examSubjectUnit.weight" class="form-control" required>
                            <p ng-show="formAdd.weight.$invalid && !formAdd.weight.$pristine" class="help-block">请填写权重</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="save()" ng-disabled="formAdd.$invalid" class="btn btn-default">提交</button>
            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>