<div class="row">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="tab-pane active" id="info-tab">
                <form name="formAdd" role="form" novalidate class="row form-horizontal bv-form modal-body">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.name.$invalid && !formAdd.name.$pristine }">
                            <label>考试名称</label>
                            <input type="text" placeholder="请您输入新的考试名称" name="name" ng-model="exam.name" class="form-control" required>
                            <p ng-show="formAdd.name.$invalid && !formAdd.name.$pristine" class="help-block">请填写考试名称</p>
                            @*<label class="padding-top-5">开始时间</label>
                                <input type="text" placeholder="请填写开始时间:2017-06-03" name="displayName" ng-model="exam.startDate" class="form-control" required>
                                <p ng-show="formAdd.name.$invalid && !formAdd.name.$pristine" class="help-block">请填写开始时间</p>
                                <label class="padding-top-5">结束时间</label>
                                <input type="text" placeholder="请填写结束时间:2017-06-13" name="displayName" ng-model="exam.endDate" class="form-control" required>
                                <p ng-show="formAdd.name.$invalid && !formAdd.name.$pristine" class="help-block">请填写结束时间</p>*@
                            @*<div class="addkemu margin-top-10">
                                    <label class="padding-top-5">考试的科目</label>
                                    <ul class="list-inline">
                                        <li ng-repeat="opin in exam.subjectUnits">
                                            <a class="btn btn-success" href="javascript:void(0);">{{opin.displayName}} <i class="fa fa-times" ng-click="delectSub(opin)"></i></a>
                                        </li>
                                    </ul>
                                    <a class="btn-lg btn-default btn margin-top-10" ng-click="selectSubjectUnit()">添加科目</a>
                                </div>*@
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.start.$invalid && !formAdd.start.$pristine }">
                            <label>开始时间</label>
                            <div class="input-group">
                                <input type="text" name="start" class="form-control" ng-click="datepickerForStart.open($event)" datepicker-popup="{{datepickerForStart.format}}" ng-model="exam.startDate" is-open="datepickerForStart.opened" datepicker-options="datepickerForStart.dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datepickerForStart.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <p ng-show="formAdd.start.$invalid && !formAdd.start.$pristine" class="help-block">请选择开始时间.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.end.$invalid && !formAdd.end.$pristine }">
                            <label>结束时间</label>
                            <div class="input-group">
                                <input type="text" name="end" class="form-control" ng-click="datepickerForEnd.open($event)" datepicker-popup="{{datepickerForEnd.format}}" ng-model="exam.endDate" is-open="datepickerForEnd.opened" datepicker-options="datepickerForEnd.dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datepickerForEnd.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <p ng-show="formAdd.end.$invalid && !formAdd.end.$pristine" class="help-block">请选择结束时间.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="save()" ng-disabled="formAdd.$invalid" class="btn btn-default">提交</button>
            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>

