    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <!--Databoxes-->
    <li ui-sref-active="active">
        <a ui-sref="app.databoxes">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Data Boxes </span>
        </a>
    </li>
    <!--Widgets-->
    <li ui-sref-active="active">
        <a ui-sref="app.widgets">
            <i class="menu-icon fa fa-th"></i>
            <span class="menu-text"> Widgets </span>
        </a>
    </li>
    <!--UI Elements-->
    <li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Elements </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <span class="menu-text">Basic Elements</span>
                </a>
            </li>
            <li >
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        Icons
                    </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.fontawesome">
                            <i class="menu-icon fa fa-rocket"></i>
                            <span class="menu-text">Font Awesome</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.glyphicons">
                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                            <span class="menu-text">Glyph Icons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.typicons">
                            <i class="menu-icon typcn typcn-location-outline"></i>
                            <span class="menu-text"> Typicons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.weathericons">
                            <i class="menu-icon wi wi-hot"></i>
                            <span class="menu-text">Weather Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tabs">
                    <span class="menu-text">Tabs & Accordions</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.alerts">
                    <span class="menu-text">Alerts & Tooltips</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.modals">
                    <span class="menu-text">Modals & Wells</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.buttons">
                    <span class="menu-text">Buttons</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.nestablelist">
                    <span class="menu-text"> Nestable List</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.treeview">
                    <span class="menu-text">Treeview</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> Tables </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.simpletables">
                    <span class="menu-text">Simple & Responsive</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.datatables">
                    <span class="menu-text">Data Tables</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Forms-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Forms </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.formlayout">
                    <span class="menu-text">Form Layouts</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.forminputs">
                    <span class="menu-text">Form Inputs</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.formpickers">
                    <span class="menu-text">Data Pickers</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formwizard">
                    <span class="menu-text">Wizard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formvalidation">
                    <span class="menu-text">Validation</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formeditors">
                    <span class="menu-text">Editors</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.forminputmask">
                    <span class="menu-text">Input Mask</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Charts-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text"> Charts </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.flot">
                    <span class="menu-text">Flot Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.morris">
                    <span class="menu-text"> Morris Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sparkline">
                    <span class="menu-text">Sparkline Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.easypiechart">
                    <span class="menu-text">Easy Pie Charts</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.chartjs">
                    <span class="menu-text"> ChartJS</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Profile-->
    <li ui-sref-active="active">
        <a ui-sref="app.profile">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text">Profile</span>
        </a>
    </li>
    <!--Mail-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-envelope-o"></i>
            <span class="menu-text"> Mail </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.inbox">
                    <span class="menu-text">Inbox</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.messageview">
                    <span class="menu-text">View Message</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.messagecompose">
                    <span class="menu-text">Compose Message</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Calendar-->
    <li ui-sref-active="active">
        <a ui-sref="app.calendar">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">
                Calendar
            </span>
        </a>
    </li>
    <!--Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-paperclip"></i>
            <span class="menu-text"> Pages </span>

            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.timeline">
                    <span class="menu-text">Timeline</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.pricing">
                    <span class="menu-text">Pricing Tables</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.invoice">
                    <span class="menu-text">Invoice</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="login">
                    <span class="menu-text">Login</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="register">
                    <span class="menu-text">Register</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="lock">
                    <span class="menu-text">Lock Screen</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.typography">
                    <span class="menu-text"> Typography </span>
                </a>
            </li>
        </ul>
    </li>
    <!--More Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-link"></i>

            <span class="menu-text">
                More Pages
            </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="error404">
                    <span class="menu-text">Error 404</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="error500">
                    <span class="menu-text"> Error 500</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blank">
                    <span class="menu-text">Blank Page</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.grid">
                    <span class="menu-text"> Grid</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        Multi Level Menu
                    </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-camera"></i>
                            <span class="menu-text">Level 3</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-asterisk"></i>

                            <span class="menu-text">
                                Level 4
                            </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bolt"></i>
                                    <span class="menu-text">Some Item</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bug"></i>
                                    <span class="menu-text">Another Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--Right to Left-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-align-right"></i>
            <span class="menu-text"> Right to Left </span>

            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a ng-click="settings.rtl = !settings.rtl" href="">
                    <span class="menu-text" ng-if="settings.rtl">Left to Right</span>
                    <span class="menu-text" ng-if="!settings.rtl">Right to Left</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="arabic.dashboard">
                    <span class="menu-text">Arabic Layout</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="persian.dashboard">
                    <span class="menu-text">Persian Layout</span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.versions">
            <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
            <span class="menu-text">
                BeyondAdmin Versions
            </span>
        </a>
    </li>
</ul>
<!-- /Sidebar Menu -->
