<a name="mvc"></a>
<h5 class="row-title before-themeprimary">Asp.Net MVC Version</h5>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-orange">
                <div class="databox-icon">
                    <i class="fa fa-list-alt"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number orange">Form Helpers</span>
                <div class="databox-text darkgray">Vertical, Horizontal & inline</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-blue">
                <div class="databox-icon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number blue">Input Helpers</span>
                <div class="databox-text darkgray">TextBox, CheckBox, ...</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-palegreen">
                <div class="databox-icon">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number palegreen">All Bootstrap Helpers</span>
                <div class="databox-text darkgray">Tabs, Accordions, Modals, Tables, ...</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-warning">
                <div class="databox-icon">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number warning">BeyondAdmin Helpers</span>
                <div class="databox-text darkgray">Widgets, Progress Bars, ...</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-sky">
                <div class="databox-icon">
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number sky">Asp.net Identity</span>
                <div class="databox-text darkgray">Login, Register based on Asp.net Identity</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-pink">
                <div class="databox-icon">
                    <i class="fa fa-desktop"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number pink">MVC Layout Pages</span>
                <div class="databox-text darkgray">Layout Pages with all links</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-danger">
                <div class="databox-icon">
                    <i class="fa fa-gears"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number danger">Resource Boundling</span>
                <div class="databox-text darkgray">All resources boundled</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-primary">
                <div class="databox-icon">
                    <i class="fa fa-android"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number primary">Icons Classes</span>
                <div class="databox-text darkgray">FontAwesome, Glyphicons, ... Classes</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-success">
                <div class="databox-icon">
                    <i class="fa fa-android"></i>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number success">MVC XML SiteMap Navigation</span>
                <div class="databox-text darkgray">Sidebar Menu, Breadcrumbs and Title</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="well with-header with-footer">
            <div class="header bordered-themeprimary">MVC Helpers List</div>
            <style>
                ul.helpers {
                    padding-left: 5px;
                }

                    ul.helpers li {
                        list-style: none;
                        line-height: 25px;
                    }

                        ul.helpers li:before {
                            font-family: 'FontAwesome';
                            content: "\f00c";
                            margin-right: 5px;
                            color: #11a9cc;
                        }
            </style>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ul class="helpers">
                        <li>Accordion</li>
                        <li>Alert</li>
                        <li>Badge</li>
                        <li>ActionLink</li>
                        <li>ActionLinkButton</li>
                        <li>Button</li>
                        <li>ButtonGroup</li>
                        <li>CheckBox</li>
                        <li>DropdownList</li>
                        <li>DropdownMenu</li>
                        <li>FormGroup</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ul class="helpers">
                        <li>FormGroup Controls</li>
                        <li>Help Texts</li>
                        <li>Icons (FontAwesome, Glyphicons, Typicons, WeatherIcons)</li>
                        <li>Label</li>
                        <li>Link</li>
                        <li>ListBox</li>
                        <li>Password</li>
                        <li>RadioButton</li>
                        <li>SideBar Menu</li>
                        <li>TextArea</li>
                        <li>Textbox</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <ul class="helpers">
                        <li>Button Group</li>
                        <li>Form</li>
                        <li>Inline Label</li>
                        <li>Modal</li>
                        <li>ProgressBar</li>
                        <li>Switches</li>
                        <li>Table</li>
                        <li>Tabs</li>
                        <li>Tooltip</li>
                        <li>Widgets</li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                These Helpers are inspired by <a href="http://www.codeproject.com/Articles/507569/Bootstrap-HTML-Helpers">Bootstrap HTML Helpers</a> and <a href="https://github.com/DmitryEfimenko/TwitterBootstrapMvc">TwitterBootstrapMvc</a>. These Libraries are free, Open Source and publish under GPL License. BeyondAdmin Helpers are Completely rewritten to suite specified styling of BeyondAdmin theme and also support Bootstrap 3.3.1.
            </div>
        </div>
    </div>
</div>