<h5 class="row-title before-themeprimary">Responsive Price Table</h5>
<div class="row pricing-container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan">
            <div class="header bordered-yellow">Enterprise</div>
            <div class="price yellow">$59</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>10GB</b> Disk Space</li>
                <li><b>100GB</b> Monthly Bandwidth</li>
                <li><b>20</b> Email Accounts</li>
                <li><b>Unlimited</b> subdomains</li>
            </ul>
            <a class="signup bg-yellow" href="">Sign up</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan popular-plan animated bounce">
            <div class="header bordered-palegreen">Professional</div>
            <div class="price palegreen">$29</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>5GB</b> Disk Space</li>
                <li><b>50GB</b> Monthly Bandwidth</li>
                <li><b>10</b> Email Accounts</li>
                <li><b>Unlimited</b> subdomains</li>
            </ul>
            <a class="signup bg-palegreen" href="">Sign up</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan">
            <div class="header bordered-orange">Standard</div>
            <div class="price orange">$19</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>3GB</b> Disk Space</li>
                <li><b>25GB</b> Monthly Bandwidth</li>
                <li><b>5</b> Email Accounts</li>
                <li><b>Unlimited</b> subdomains</li>
            </ul>
            <a class="signup bg-orange" href="">Sign up</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan">
            <div class="header bordered-azure">Basic</div>
            <div class="price azure">$9</div>
            <div class="monthly">per month</div>
            <ul>
                <li><b>1GB</b> Disk Space</li>
                <li><b>10GB</b> Monthly Bandwidth</li>
                <li><b>2</b> Email Accounts</li>
                <li><b>Unlimited</b> subdomains</li>
            </ul>
            <a class="signup bg-azure" href="">Sign up</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h5 class="row-title before-themesecondary">Circular Price Table</h5>
        <div class="row well bg-themeprimary no-margin">
            <div class="">
                <div class="col-lg-3 col-sm-4 col-xs-12">
                    <div class="plan-circular">
                        <span class="plan-title">STARTER</span>
                        <hr class="title-devider" />
                        <div class="plan-body">
                            <div class="plan-currency">$</div>
                            <div class="plan-price">35</div>
                            <div class="plan-month">monthly</div>
                        </div>
                        <div class="plan-tag bg-themesecondary">
                            <i class="tag-icon fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-12">
                    <div class="plan-circular">
                        <span class="plan-title">STANDARD</span>
                        <hr class="title-devider" />
                        <div class="plan-body">
                            <div class="plan-currency">$</div>
                            <div class="plan-price">45</div>
                            <div class="plan-month">monthly</div>
                        </div>
                        <div class="plan-tag bg-themethirdcolor">
                            <i class="tag-icon fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-12">
                    <div class="plan-circular animated flipInX">
                        <span class="plan-title">PROFESSIONAL</span>
                        <hr class="title-devider" />
                        <div class="plan-body">
                            <div class="plan-currency">$</div>
                            <div class="plan-price">55</div>
                            <div class="plan-month">monthly</div>
                        </div>
                        <div class="plan-tag bg-themefourthcolor">
                            <i class="tag-icon fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-12">
                    <div class="plan-circular">
                        <span class="plan-title">ENTERPRISE</span>
                        <hr class="title-devider" />
                        <div class="plan-body">
                            <div class="plan-currency">$</div>
                            <div class="plan-price">65</div>
                            <div class="plan-month">monthly</div>
                        </div>
                        <div class="plan-tag bg-themefifthcolor">
                            <i class="tag-icon fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>