<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="margin-10">
            <form role="form" name="formAdd" novalidate>
                <div class="form-title">
                    题干
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" ng-model="question.numberCode" placeholder="编号">
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : formAdd.displayName.$invalid && !formAdd.displayName.$pristine }">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" ng-model="question.subjectUnit.displayName" placeholder="科目" ng-click="selectSubjectUnit()" required>
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : formAdd.displayName.$invalid && !formAdd.displayName.$pristine }">
                    <div class="ueditor" ng-model="question.stem" config="ueditorConfig" required></div>
                </div>
                <ng-include src="question.questionType"></ng-include>
                <div class="form-title">
                    其他
                </div>
                <div class="form-group">
                    <tags-input ng-model="tags" placeholder="添加知识点">
                    </tags-input>
                </div>
                <div class="form-group">
                    <textarea rows="6" class="form-control" placeholder="试题分析" ng-model="question.analysis"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="save()" ng-disabled="formAdd.$invalid" class="btn btn-default">提交</button>
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
</div>

<script id="SingleSelection" type="text/ng-template">
    <div class="txt3">
        <div class="form-title">
            单选选项
        </div>
        <form action="">
            <div class="form-group" ng-repeat="option in question.options">
                <div class="row">
                    <div class="col-sm-11" ng-class="{ 'has-error' : formAdd.displayName.$invalid && !formAdd.displayName.$pristine }">
                        <input type="text" class="form-control st1 {{option.isRightKey}}" ng-model="option.content" placeholder="选项" required />
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="colored-success" ng-true-value="true" ng-false-value="false" ng-model="option.isRightKey" ng-change="singleChanged(option)">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 weizhi">
                        <button class="btn btn-sm btn-default" ng-click="deleteOption(option)"><span class="glyphicon glyphicon-trash"></span>删除当前选项</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-group-justified btn-default" ng-click="addOption()">添加选项</button>
        </form>
    </div>
</script>

<script id="MultipleChoice" type="text/ng-template">
    <div class="txt3">
        <div class="form-title">
            多选选项
        </div>
        <form action="">
            <div class="form-group" ng-repeat="option in question.options">
                <div class="row">
                    <div class="col-sm-11 ">
                        <input type="text" class="form-control st1 {{option.isRight}}" ng-model="option.content" placeholder="选项" required />
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="colored-success" ng-true-value="true" ng-false-value="false" ng-model="option.isRight">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 weizhi">
                        <button class="btn btn-sm btn-default" ng-click="deleteOption(option)"><span class="glyphicon glyphicon-trash"></span>删除当前选项</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-group-justified btn-default" ng-click="addOption()">添加选项</button>
        </form>
    </div>
</script>

<script id="Practical" type="text/ng-template">
    <div class="form-title">
        评分标准
    </div>
    <form action="">
        <div class="form-group" ng-repeat="option in question.options">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" ng-model="option.content" placeholder="评分项" required />
                </div>

                <div class="col-sm-12 margin-top-10">
                    <button class="btn btn-sm btn-default" ng-click="deleteOption(option)"><span class="glyphicon glyphicon-trash"></span>删除当前评分项</button>
                </div>
            </div>
        </div>
        <button class="btn btn-group-justified btn-default" ng-click="addOption()">添加评分项</button>
    </form>
</script>

<script id="Comprehensive" type="text/ng-template">
</script>