<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="tab-pane active" id="info-tab">
            <form name="formAdd" role="form" novalidate class="row form-horizontal bv-form modal-body">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : formAdd.pointsContent.$invalid && !formAdd.pointsContent.$pristine }">
                        <label>知识点</label>
                        <input type="text" placeholder="知识点" name="displayName" ng-model="subjectUnit.pointsContent" class="form-control" required>
                        <p ng-show="formAdd.pointsContent.$invalid && !formAdd.pointsContent.$pristine" class="help-block">请填写知识点内容.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="save()" ng-disabled="formAdd.$invalid" class="btn btn-default">提交</button>
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
</div>