<div class="row" ng-controller="app.views.manage.examination.exam.examSubjectUnit as vm">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">考试科目管理</span>
                <div class="widget-buttons">
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="widget-body" id="btn">
                <a class="btn btn-default" ng-click="add()"><i class="typcn typcn-th-menu"></i> 添加考试科目</a>
                <div class="widget-body no-padding">
                    <div ng-grid="gridOptions" style="min-height: 500px; overflow-x: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
</div>