<div class="row" ng-controller="app.views.manage.examination.exam.examsum as vm">

    <div class="widget" id="examindex">
        <div class="widget-header">
            <span class="widget-caption mytest">我的考试</span>
        </div>
        <div class="widget-body">
            <a class="btn btn-default bt margin-bottom-10" ng-click="add()"><i class="typcn typcn-clipboard"></i>添加考试</a>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" ng-repeat="exam in exams" id="zhuang">

                    <div class="databox databox-xlg databox-halved radius-bordered databox-shadowed databox-vertical" ng-class="{1: 'active', 0: 'inactive'}[exam.examinationStatus]">

                        <h1 class="text-align-center" ng-click="editScreeningses(exam)">{{exam.name}}</h1>
                        <h6 class="text-center">开始日期：<input type="text" value="{{exam.startDate |date:'yyyy-MM-dd'}}" disabled /></h6>
                        <h6 class="text-center">结束日期：<input type="text" value="{{exam.endDate |date:'yyyy-MM-dd'}}" disabled /></h6>

                        <div class="testSub">
                            <h6 class="text-left pull-left">考试科目：</h6>
                            <ul class="list-inline">
                                <li ng-repeat="examSubjectUnit in exam.examSubjectUnits" class="pull-left"><a class="btn btn-info" href="javascript:void(0);">{{examSubjectUnit.subjectUnit.displayName}}({{examSubjectUnit.weight}}%)</a></li>
                            </ul>
                        </div>
                        <div class="databox-row row-6 padding-10">
                            <label>
                                <input class="checkbox-slider colored-blue" type="checkbox" ng-model="exam.examinationStatus" ng-false-value="0" ng-true-value="1" ng-show="false" ng-change="editStatus(exam)">
                                <span class="text" id="open-close"></span>
                            </label>
                            <button class="btn btn-palegreen btn-sm pull-right" ng-click="delete(exam)">删除</button>
                            <button class="btn btn-palegreen btn-sm pull-right margin-right-10" ng-click="edit(exam)">编辑</button>
                            <button class="btn btn-palegreen btn-sm pull-right margin-right-10" ng-click="editExamSubjectUnit(exam)">科目</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>