<div class="row" ng-controller="app.views.manage.examination.exam.screenings as vm">
    <div class="col-sm-12">
        <div class="widget" id="examindex">
            <div class="widget-header">
                <span class="widget-caption mytest">考试场次</span>
            </div>
            <div class="widget-body">
                <a class="btn btn-default bt margin-bottom-10" ng-click="add()"><i class="typcn typcn-clipboard"></i>添加场次</a>
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 margin-top: 10px;" ng-repeat="screenings in screeningses" id="zhuang">
                        <div class="databox databox-xlg databox-halved radius-bordered databox-shadowed databox-vertical" ng-class="{1: 'active', 0: 'inactive'}[screenings.screeningStatus]">
                            <h2 class="text-align-center" ng-click="gotoDetails(screenings)" style="margin-top:0px">{{screenings.name}}</h2>
                            <h6 class="text-center">开始日期：<input type="text" value="{{screenings.startTime|localDate:'YYYY-MM-DD HH:mm'}}" disabled /></h6>
                            <h6 class="text-center">结束日期：<input type="text" value="{{screenings.endTime|localDate:'YYYY-MM-DD HH:mm'}}" disabled /></h6>
                            <h6 class="text-center">考&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;场：<input type="text" ng-value="screenings.examinationRoom" disabled /></h6>

                            <div class="databox-row row-6 padding-10">
                                <label>
                                    <input class="checkbox-slider colored-blue" type="checkbox" ng-model="screenings.screeningStatus" ng-false-value="0" ng-true-value="1" ng-show="false" ng-change="editStatus(screenings)">
                                    <span class="text" id="open-close"></span>
                                </label>
                                <button class="btn btn-palegreen btn-sm pull-right" ng-click="delete(screenings)">删除</button>
                                <button class="btn btn-palegreen btn-sm pull-right margin-right-10" ng-click="edit(screenings)">编辑</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>