<div class="row" ng-controller="app.views.manage.trialBalloon.question as vm">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">试题管理</span>
                <div class="widget-buttons">
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="widget-body" id="btn">
                <a class="btn btn-default" ng-click="addSubjectUnit()"><i class="typcn typcn-th-menu"></i> 添加试题</a>
                <div class="row">
                    <div class="col-xs-8">
                        <ui-select ng-model="filterOptions.questionType" theme="select2" style="width: 200px;">
                            <ui-select-match placeholder="筛选试题类型">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="questionType.key as questionType in questionTypes| filter:$select.search">
                                <div ng-bind-html="questionType.name| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ng-model="filterOptions.libraryId" theme="select2" ng-disabled="disabled" style="width: 200px;">
                            <ui-select-match placeholder="筛选题库">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="library.id as library in librarys| filter:$select.search">
                                <div ng-bind-html="library.name| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-4">
                        <span class="input-icon icon-right">
                            <input type="text" class="form-control input-sm" ng-model="filterOptions.filterText">
                            <i class="glyphicon glyphicon-search blue"></i>
                        </span>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div ng-grid="gridOptions" style="min-height: 500px; overflow-x: hidden;"></div>
                </div>
            </div>
        </div>
    </div>
</div>